### Strings

In [ ]:
# More on strings

str1  = "       Welcome to the class!!          "

print(str1)
str1 = str1.strip()
print(str1)

print(str1.lower())
print(str1.upper())

print(str1.replace("the","a"))

print(str1.split())

print(str1.index('a'))
print(str1.index('c'))

       Welcome to the class!!
Welcome to the class!!
welcome to the class!!
WELCOME TO THE CLASS!!
Welcome to a class!!
['Welcome', 'to', 'the', 'class!!']
17
3

### List

In [ ]:
# List

a = [1,2,3,4]
b = [1.12, 1 , "apple"]
c = [1.12,1.23]

d = [[1,2],[3,4]]

print(a,b,c,d)

# indexing and slicing
print(a[0])
print(d[0][1])

print(a[1:3])



# replacing values
a[0] = 5
print(a)

a[:3]=[5,6,7]
print(a)

a = []
print(a)

b[:2] = []
print(b)

# concatination
print(b+c)

e = [1,2,3,4]
print(e)

e.append(5)
print(e)

[1, 2, 3, 4] [1.12, 1, 'apple'] [1.12, 1.23] [[1, 2], [3, 4]]
1
2
[2, 3]
[5, 2, 3, 4]
[5, 6, 7, 4]
[]
['apple']
['apple', 1.12, 1.23]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# concatination and shallow copy
list1= [1,2,3,4]
list2 = list1
list2.append(5)
print(list1)
print(list2)

# shallow copy
list1= [1,2,3,4]
list2 = list1.copy()
list2.append(5)
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# list methods
list1 = [1,2,3,4,5,6,7,8]

list1.insert(2,5)
print(list1)

list1.remove(5)
print(list1)

list1.pop(2)
print(list1)

list1.clear()
print(list1)

list1.append(5)
print(list1)

list1.extend([1,1,3,4])
print(list1)

print(list1.count(5))

list1.reverse()
print(list1)

del list1[0]
print(list1)

print(list1.pop())
print(list1)

list1.sort()
print(list1)

[1, 2, 5, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
[]
[5]
[5, 1, 1, 3, 4]
1
[4, 3, 1, 1, 5]
[3, 1, 1, 5]
5
[3, 1, 1]
[1, 1, 3]

### Tuple

In [ ]:
# tuple
tp = (1,2,3,4)
print(tp)
tp = (1,1.12,"hello",(1,2))

print(type(tp))

# conversion between tuple and list
list1 = [1,2,3,4]
tp = tuple(list1)
print(tp)

list2 = list(tp)
print(list2)

# min max
print(min(tp))
print(max(tp))

(1, 2, 3, 4)
<class 'tuple'>
(1, 2, 3, 4)
[1, 2, 3, 4]
1
4

### Dictionary

In [ ]:
# dictionary

person1 = {'name':"john", "age":13, "address":"kathmandu"}
print(person1)
print(type(person1))


person2 = dict(name="sam", age=15, address="pokhara")
print(person2)
print(type(person2))

# printing values using keys
print(person1["name"])
print(person1["age"])

# value update using keys
person1['age']= 50
print(person1["age"])
person1.update({"age":24})
print(person1["age"])

del person1["address"]
print(person1)


# methods
print(person1.keys())
print(person1.values())
print(person1.items())


# nested dict
person = {
    "person1":{'name':"john", "age":13, "address":"kathmandu"},
    "person2":{'name':"sam", "age":15, "address":"pokhara"}
}
print(person['person1']['name'])


# merging dict
person1 = {'name':"john", "age":13, "address":"kathmandu"}
person2 = dict(name="sam", age=15)

person1.update(person2)
print(person1)

{'name': 'john', 'age': 13, 'address': 'kathmandu'}
<class 'dict'>
{'name': 'sam', 'age': 15, 'address': 'pokhara'}
<class 'dict'>
john
13
50
24
{'name': 'john', 'age': 24}
dict_keys(['name', 'age'])
dict_values(['john', 24])
dict_items([('name', 'john'), ('age', 24)])
john
{'name': 'sam', 'age': 15, 'address': 'kathmandu'}

### Set

In [ ]:
# Set
a = {1,2,3}
print(a)
print(type(a))


set1 = {1,1,1,1}
print(set1)


# methods
a.add(4)
print(a)

a.update([5,6,7])
print(a)

a.remove(5)
print(a)

print(a.pop())

a.clear()
print(a)

{1, 2, 3}
<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}
1
set()

In [ ]:
# set operations

set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

print(set1.union(set2))
print(set1|set2)

print(set1.intersection(set2))
print(set1&set2)


print(set1.difference(set2))
print(set1-set2)


print(set1.symmetric_difference(set2))
print(set1^set2)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
{1, 2, 3}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

In [ ]:
# superset and subset

set1 = {1,2,3,4,5,7}
set2 = {1,2,3,7}
set3 = {9, 8}

print(set1.issuperset(set2))
print(set2.issubset(set1))
print(set2.isdisjoint(set3))

True
True
True

In [ ]:
# frozen set
set1 = frozenset([1,2,3])
print(set1)

frozenset({1, 2, 3})

### Control Statements

In [ ]:
# 1. Conditional statement (if, elif, else)
# 2. looping statement (for, while)
# 3. control flow modifiers(break, continue, pass)

In [ ]:
# conditional
x = int(input("Enter a number: "))

if(x%2==0) and x == 2:
  print("Even and 2")

elif(x%2 == 0):
  print("Even")

else:
  print("odd")

Enter a number: 7
odd

In [ ]:
# looping

for i in range(5):
  print(i,end=',')

print("")

# Looping list
fruits = ["apple","banana","grapes"]
for fruit in fruits:
  print(fruit,end=",")

print("")

# Looping String
str = "Welcome to the class"
for index in range(len(str)):
    if str[index] == 'c':
        print(f"'c' found at index {index}")



# Looping dictionary
students = {"name":"anil", "age":12, "address":"kathmandu"}

for key,value in students.items():
  print(key, value)

0,1,2,3,4,
apple,banana,grapes,
'c' found at index 3
'c' found at index 15
name anil
age 12
address kathmandu

In [ ]:
# while loop
x = 0
while(x<=10):
  print(x,end=",")
  # x += 1

0,1,2,3,4,5,6,7,8,9,10,

## Task 7: Slicing a List
Write a Python program that creates a list of 10 numbers (e.g., numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]) and performs the following actions:

1. Extract the first three elements.
2. Extract the last three elements.
3. Extract every second element.
4. Replace last 3 elements with elements [11,12,13].

```python
# Expected Output:
Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
First three elements: [1, 2, 3]
Last three elements: [8, 9, 10]
Every second element: [1, 3, 5, 7, 9]
Replaced list: [1, 2, 3, 4, 5, 6, 7, 11, 12, 13]
```

<details>
  <summary>Click here for the solution</summary>

    
```python
# Solution for Task 7: Slicing a List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list:", numbers)
print("First three elements:", numbers[:3])
print("Last three elements:", numbers[-3:])
print("Every second element:", numbers[::2])
numbers[-3:] = [11, 12, 13]
print("Reversed list:", numbers)


```

In [ ]:
# write your solution to task 7 here.

## Task 8: Reverse a String
Write a Python program that asks the user to input a string and displays the reversed string.


```python
# Expected Output:
Enter a string: Hello World
Reversed string: dlroW olleH
```

<details>
  <summary>Click here for the solution</summary>

    
```python
# Solution for Task 8: Reverse a String
string = input("Enter a string: ")
reversed_string = string[::-1]
print("Reversed string:", reversed_string)
```

In [ ]:
# write your solution to task 8 here.

## Task 9: Manage a Fruit Inventory
You are managing a fruit inventory using a dictionary. The inventory contains the names of fruits as keys and their quantities as values. Perform the operations given below:
```python
# Expected Output:
Updated Inventory: {'apple': 10, 'banana': 18, 'cherry': 5, 'date': 20, 'orange': 12}
Sorted fruit quantities: [5, 10, 12, 18, 20]
```

<details>
  <summary>Click here for the solution</summary>

    
```python
# Solution for Task 9: Manage a Fruit Inventory
# Given inventory
inventory = {
    "apple": 10,
    "banana": 15,
    "cherry": 5,
    "date": 20
}

# Add a new fruit to the inventory
inventory["orange"] = 12

# Update the quantity of an existing fruit
inventory["banana"] = 18

# Extract fruit quantities as a sorted list
sorted_quantities = sorted(inventory.values())

# Output results
print("Updated Inventory:", inventory)
print("Sorted fruit quantities:", sorted_quantities)
```

In [ ]:
# write your solution to task 8 here.
inventory = {
    "apple": 10,
    "banana": 15,
    "cherry": 5,
    "date": 20
}

# Operations:
# Add "orange" with quantity 12.

# Update "banana" to quantity 18.

# Extract quantities and sort them in ascending order.

# Output results

## Task 10: Set Operations
Create two sets of numbers. Perform the union, intersection, and difference operations, and display the results.


```python
# Expected Output:
Set A: {1, 2, 3}
Set B: {2, 3, 4}
Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference (A - B): {1}
```

<details>
  <summary>Click here for the solution</summary>

    
```python
# Solution for Task 10: Set Operations
set_a = {1, 2, 3}
set_b = {2, 3, 4}

union_set = set_a | set_b
intersection_set = set_a & set_b
difference_set = set_a - set_b

print("Set A:", set_a)
print("Set B:", set_b)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (A - B):", difference_set)

```

In [ ]:
# write your solution to task 10 here.

## Task 11: String Processing
Take a string, remove leading and trailing whitespaces, convert it to uppercase, and replace all occurrences of 'A' with 'X'.

```python
# Expected Output:
Original String: "   amazing apple   "
Processed String: "XMXZING XPPLE"
```

<details>
  <summary>Click here for the solution</summary>

    
```python
# Solution for Task 12: String Processing

original_string = "   amazing apple   "
processed_string = original_string.strip().upper().replace('A', 'X')

print("Original String:", original_string)
print("Processed String:", processed_string)

```

In [ ]:
# write your solution to task 11 here.
original_string = "   amazing apple   "

## Task 12: List Methods
Create a list of numbers. Add a new number, remove a specific number, and sort the list in descending order.

```python
# Expected Output:
Original List: [4, 2, 9]
Updated List: [9, 7, 4]

```

<details>
  <summary>Click here for the solution</summary>

    
```python
# Solution for Task 13: List Methods
numbers = [4, 2, 9]
print("Original List:", numbers)

numbers.append(7)
numbers.remove(2)
numbers.sort(reverse=True)
'''
or we can also do this
numbers.sort()
numbers.reverse()
'''
print("Updated List:", numbers)

```

In [ ]:
# write your solution to task 12 here.
numbers = [4, 2, 9]

## Task 13: Check if a Number is Positive, Negative, or Zero
Use if-elif-else statements to check whether a number is positive, negative, or zero.

```python
# Expected Output:
The number 7 is Positive.
```
<details>
  <summary>Click here for the solution</summary>

    
```python
num = 7

# Check using if-elif-else
if num > 0:
    print(f"The number {num} is Positive.")
elif num < 0:
    print(f"The number {num} is Negative.")
else:
    print(f"The number {num} is Zero.")
```

In [ ]:
# write your solution to task 13 here.

## Task 14: Print Squares of Numbers from 1 to 5
Use a for loop to print the square of each number from 1 to 5.

```python
# Expected Output:
1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

```
<details>
  <summary>Click here for the solution</summary>

    
```python
for i in range(1, 6):
    print(f"{i} squared is {i*i}")
```

In [ ]:
# write your solution to task 14 here.

## Task 15: Countdown from 5 Using While Loop
Use a while loop to countdown from 5 to 1 and then print "Blast Off!".

```python
# Expected Output:
5
4
3
2
1
Blast Off!

```
<details>
  <summary>Click here for the solution</summary>

    
```python
count = 5

# While loop for countdown
while count > 0:
    print(count)
    count -= 1

# After countdown
print("Blast Off!")
```

In [ ]:
# write your solution to task 15 here.

## Task 16: Number Guessing Game
Create a number guessing game using if-else and while loop. The program should randomly choose a number between 1 and 10(given there). The player has 3 attempts to guess the number correctly. After each wrong guess, the program should tell whether the guess was too high or too low.


```python
# Expected Output:
Guess the number (1-10): 4  
Too low!  
Guess the number (1-10): 9  
Too high!  
Guess the number (1-10): 7  
Congratulations! You guessed it right.  

```
<details>
  <summary>Click here for the solution</summary>

    
```python
import random

secret_number = random.randint(1, 10)

# Number of attempts
attempts = 3

# While loop for the game
while attempts > 0:
    guess = int(input("Guess the number (1-10): "))
    
    if guess == secret_number:
        print("Congratulations! You guessed it right.")
        break
    elif guess < secret_number:
        print("Too low!")
    else:
        print("Too high!")
    
    attempts -= 1

# If the player runs out of attempts
if attempts == 0 and guess != secret_number:
    print(f"Sorry! The correct number was {secret_number}.")
```

In [ ]:
# write your solution to task 16 here.
import random

secret_number = random.randint(1, 10)